.msnTrue {
    padding: 30px;
    text-align: center;
    font-style: italic;
    font-family: arial, sans-serif;
    color: green;
    text-transform: capitalize;
}

.msnErro {
    padding: 30px;
    text-align: center;
    font-style: italic;
    font-family: arial, sans-serif;
    color: red;
    text-transform: capitalize;
}